[credential "https://github.com"]
	helper = 
{{ if eq .chezmoi.os "darwin" }}
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
{{ end }}

{{ if eq .chezmoi.os "Linux" }}
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
{{ end }}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

{{ if eq .chezmoi.hostname "TC-WK2VJ4X70Y-2.local" }}
[user]
	name = Matthew Griffiths
	email = 84738022+tc-mgriff@users.noreply.github.com
{{ end }}
{{ if ne .chezmoi.hostname "TC-WK2VJ4X70Y-2.local" }}
[user]
	name = Matthew Griffiths
	email = matt.griffiths@gmail.com
{{ end }}
	excludesFile = ~/.gitignore_global

