{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
# sudo apt get update
# sudo apt install build-essential libpam-u2f libfido2-dev libpcap-dev libusb-1.0-0-dev libnetfilter-queue-dev ripgrep fzf exa tldr dust bat atuin thefuck lazygit parallel unzip nmap ca-certificates tor fonts-liberation libappindicator3-1 libasound2 libatk-bridge2.0-0 libatk1.0-0 libc6 libcairo2 libcups2 libdbus-1-3 libexpat1 libfontconfig1 libgbm1 libgcc1 libglib2.0-0 libgtk-3-0 libnspr4 libnss3 libpango-1.0-0 libpangocairo-1.0-0 libstdc++6 libx11-6 libx11-xcb1 libxcb1 libxcomposite1 libxcursor1 libxdamage1 libxext6 libxfixes3 libxi6 libxrandr2 libxrender1 libxss1 libxtst6 lsb-release wget xdg-utils zmap curl jq git xsltproc python3 python3-pip gcc make musl-dev knockd proxychains4 -y -qq

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install nmap ripgrep fzf exa tlrc dust bat atuin lazygit thefuck golang knock tor proxychains-ng
{{ end -}}

ARCH=$(uname -m)



CONFIG="$HOME/.zshrc"
INSTALL_PATH="${HOME}/tools"

mkdir -p ${INSTALL_PATH}

# zap zsh plugin manager
zsh <(curl -s https://raw.githubusercontent.com/zap-zsh/zap/master/install.zsh) --branch release-v1

#get nerd fonts
curl -fsSL https://raw.githubusercontent.com/getnf/getnf/main/install.sh | bash

# starship zsh prompt theme
curl -sS https://starship.rs/install.sh | sh

pdtm -ia

echo "Checking postleaks is installed"
if command -v postleaks >/dev/null 2>&1; then
    echo "postleaks is installed."
else
    echo "postleaks is not installed. Installing now"
    pip3 install postleaks
    echo 'export PATH="${PATH}:${HOME}/.local/bin"' >> ${CONFIG}
    source ${CONFIG}
fi

echo "Checking whoxyrm is installed"
if command -v whoxyrm >/dev/null 2>&1; then
    echo "whoxyrm is installed."
else
    echo "dnsx is not installed. Installing now"
    go install github.com/milindpurswani/whoxyrm@latest
    go get -u github.com/milindpurswani/whoxyrm
fi

echo "Checking anew is installed"
if command -v anew >/dev/null 2>&1; then
    echo "anew is installed."
else
    echo "anew is not installed. Installing now"
    go install github.com/tomnomnom/anew@latest
fi

echo "Checking hakrevdns is installed"
if command -v hakrevdns >/dev/null 2>&1; then
    echo "hakrevdns is installed."
else
    echo "hakrevdns is not installed. Installing now"
    go install github.com/hakluke/hakrevdns@latest
fi

echo "Checking puredns is installed"
if command -v puredns >/dev/null 2>&1; then
    echo "puredns is installed."
else
    echo "puredns is not installed. Installing now"
    go install github.com/d3mondev/puredns/v2@latest
fi

echo "Checking amass is installed"
if command -v amass >/dev/null 2>&1; then
    echo "amass is installed."
else
    echo "amass is not installed. Installing now"
    go install github.com/owasp-amass/amass/v4/...@master
fi

echo "Checking oam-tools is installed"
if command -v oam_subs >/dev/null 2>&1; then
    echo "oam-tools is installed."
else
    echo "oam-tools is not installed. Installing now"
    go install github.com/owasp-amass/oam-tools/cmd/...@master
fi

echo "Checking jsluice is installed"
if command -v jsluice >/dev/null 2>&1; then
    echo "jsluice is installed."
else
    echo "jsluice is not installed. Installing now"
    go install github.com/BishopFox/jsluice/cmd/jsluice@latest
fi

echo "Checking ffuf is installed"
if command -v ffuf >/dev/null 2>&1; then
    echo "ffuf is installed."
else
    echo "ffuf is not installed. Installing now"
    go install -v github.com/ffuf/ffuf/v2@latest
fi

echo "Checking ffufPostprocessing is installed"
if command -v ffufPostprocessing >/dev/null 2>&1; then
    echo "ffufPostprocessing is installed."
else
    echo "ffufPostprocessing is not installed. Installing now"
    go install -v github.com/Damian89/ffufPostprocessing@latest
fi

echo "Checking assetfinder is installed"
if command -v assetfinder >/dev/null 2>&1; then
    echo "assetfinder is installed."
else
    echo "assetfinder is not installed. Installing now"
    go install -v github.com/tomnomnom/assetfinder@latest
fi

echo "Checking certgraph is installed"
if command -v certgraph >/dev/null 2>&1; then
    echo "certgraph is installed."
else
    echo "certgraph is not installed. Installing now"
    go install -v github.com/lanrat/certgraph@latest
fi

echo "Checking fuzzparam is installed"
if command -v fuzzparam >/dev/null 2>&1; then
    echo "fuzzparam is installed."
else
    echo "fuzzparam is not installed. Installing now"
    go install -v github.com/0xsapra/fuzzparam@latest
fi

echo "Checking qsreplace is installed"
if command -v qsreplace >/dev/null 2>&1; then
    echo "qsreplace is installed."
else
    echo "qsreplace is not installed. Installing now"
    go install -v github.com/tomnomnom/qsreplace@latest
fi

echo "Checking unfurl is installed"
if command -v unfurl >/dev/null 2>&1; then
    echo "unfurl is installed."
else
    echo "unfurl is not installed. Installing now"
    go install -v github.com/tomnomnom/unfurl@latest
fi

echo "Checking waybackurls is installed"
if command -v waybackurls >/dev/null 2>&1; then
    echo "waybackurls is installed."
else
    echo "waybackurls is not installed. Installing now"
    go install -v github.com/tomnomnom/waybackurls@latest
fi

echo "Checking gf is installed"
if command -v gf >/dev/null 2>&1; then
    echo "gf is installed."
else
    echo "gf is not installed. Installing now"
    go install -v github.com/tomnomnom/gf@latest
fi

echo "Checking cidr2ip is installed"
if command -v cidr2ip >/dev/null 2>&1; then
    echo "cidr2ip is installed."
else
    echo "cidr2ip is not installed. Installing now"
    go install -v github.com/codeexpress/cidr2ip@latest
fi

echo "Checking goverview is installed"
if command -v goverview >/dev/null 2>&1; then
    echo "goverview is installed."
else
    echo "goverview is not installed. Installing now"
    go install -v github.com/j3ssie/goverview@latest
fi

echo "Checking kxss is installed"
if command -v kxss >/dev/null 2>&1; then
    echo "kxss is installed."
else
    echo "kxss is not installed. Installing now"
    go install -v github.com/tomnomnom/hacks/kxss@latest
fi

echo "Checking proxyhawk is installed"
if command -v proxyhawk >/dev/null 2>&1; then
    echo "proxyhawk is installed."
else
    echo "proxyhawk is not installed. Installing now"
    go install github.com/ResistanceIsUseless/ProxyHawk/cmd/proxyhawk@latest
fi

echo "Checking webscope is installed"
if command -v webscope >/dev/null 2>&1; then
    echo "webscope is installed."
else
    echo "webscope is not installed. Installing now"
    go install github.com/resistanceisuseless/webscope@latest
fi

echo "Checking subscope is installed"
if command -v subscope >/dev/null 2>&1; then
    echo "subscope is installed."
else
    echo "subscope is not installed. Installing now"
    go install -v github.com/resistanceisuseless/subscope/cmd/subscope@latest
fi

echo "Checking feroxbuster is installed"
if command -v feroxbuster >/dev/null 2>&1; then
    echo "feroxbuster is installed."
else
    echo "feroxbuster is not installed. Installing now"
    curl -sL https://raw.githubusercontent.com/epi052/feroxbuster/main/install-nix.sh | sudo bash -s /usr/local/bin
fi